.PopPup{
  position: absolute;
  left: 20%;
  top: 20%;
  z-index: 0;
  border: solid;
  width: 300px;
  height: 200px;
}
#Botonera {
  border: solid;
  width: 20%;
  height: 30px;
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
}

#Inicio{
  text-align: justify;
  width: 300px;
  height: 300px;
  font-size: 20px;
  display:table;
  margin: auto;
  justify-content: center;
  align-items: center;
  position: relative;
}

h1{
  text-align: center;
}

#TituloBotones{
  text-align: center;
  
}

#FormContacto{
  text-align: center;
}

#cargaDatosForms{
  border: solid;
}

.hide{
  display: none;
}

div.blueTable {
  /* border: 2px solid #238ACE; */
  background-color: #F4F4F4;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
  /* border: 1px solid #AAAAAA; */
  padding: 3px 2px;
}
.divTable.blueTable .divTableBody .divTableCell {
  font-size: 13px;
}
.divTable.blueTable .divTableRow:nth-child(even) {
  background: #F4F4F4;
}
.divTable.blueTable .divTableHeading {
  /* background: #709BB2; */
  /* background: -moz-linear-gradient(top, #94b4c5 0%, #7ea5b9 66%, #709BB2 100%);
  background: -webkit-linear-gradient(top, #94b4c5 0%, #7ea5b9 66%, #709BB2 100%);
  background: linear-gradient(to bottom, #94b4c5 0%, #7ea5b9 66%, #709BB2 100%); */
  border-bottom: 2px solid #444444;
}
.divTable.blueTable .divTableHeading .divTableHead {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px none #D0E4F5;
}
.divTable.blueTable .divTableHeading .divTableHead:first-child {
  border-left: none;
}

.blueTable .tableFootStyle {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #C8DBEB;
  background: -moz-linear-gradient(top, #d6e4f0 0%, #cddeed 66%, #C8DBEB 100%);
  background: -webkit-linear-gradient(top, #d6e4f0 0%, #cddeed 66%, #C8DBEB 100%);
  background: linear-gradient(to bottom, #d6e4f0 0%, #cddeed 66%, #C8DBEB 100%);
  border-top: 2px none #444444;
}
.blueTable .tableFootStyle {
  font-size: 14px;
}
.blueTable .tableFootStyle .links {
	 text-align: right;
}
.blueTable .tableFootStyle .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
  
}
.blueTable.outerTableFooter {
  border-top: none;
}
.blueTable.outerTableFooter .tableFootStyle {
  padding: 3px 5px; 
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}
